body{
/*    background: url('flower.jpg') center;*/
    background-color: #e4bbf9;
    
}

h1 {
    text-align: center;
    font-family: sans-serif,serif;
    color:#ef0428;
    
}
.chat_title {text-transform: uppercase !important;
    color:#4168f4 !important;}

.chat_input {
    width: 100%;
}
.chat_buttons {
    margin-top: 3px;
    display: flex;
    justify-content: flex-end;
}
.chat_buttons button {
    margin-left: 2px;
}
.chat_main {
    min-height: 400px;
    padding: 20px;
    border: 1px solid #868e96;
    border-radius: 6px;
    margin-top: 10px;
    list-style-type: none;
    background: #fcffaa;
}
button {
    cursor: pointer;
}

#first{padding:30px;}

#enterchat{padding: 10px 30px; font-size:18px;}
#name{padding:10px 30px;color:#d84a08;margin:200px 0px 0px 300px;}
